@model CodersLinkProjectWebApp.Models.UsrDataModel
@{
    var title = "Create User Email Listing";
}
<form method="post" asp-action="Upsert" enctype="multipart/form-data">

    <div class="row px-2 mx-2 backgroundWhite border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Id != 0)
        {
            <input type="hidden" asp-for="Id" />
            title = "Edit User Data";
        }
        <div class="col-12 p-3">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="UsrName">First Name</label>
                </div>
                <div class="col-8">
                    <input asp-for="UsrName" class="form-control" />
                    <span asp-validation-for="UsrName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="UsrLastName">Last Name</label>
                </div>
                <div class="col-8">
                    <input asp-for="UsrLastName" class="form-control" />
                    <span asp-validation-for="UsrLastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="UsrEmail">Email</label>
                </div>
                <div class="col-8">
                    <input asp-for="UsrEmail" class="form-control" />
                    <span asp-validation-for="UsrEmail" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 offset-4">
                    <button type="submit" class="btn btn-primary form-control">
                        @(Model.Id!=0?"Update":"Create")
                    </button>
                </div>
                <div class="col-4">
                    <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                </div>
            </div>
        </div>        
    </div>

</form>